/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

.clearfix {
	clear:both;
}

.grey {
	color: $grey-darker;
}

.underline {
	border-bottom: 5px solid $white;
}

.border-bottom {
	border-bottom-style: solid;
    border-bottom-width: thin; 
    border-bottom-color: $grey-lighter;
    padding-bottom: 95px;
}

.border-bottom-2 {
	border-bottom: 1px solid $grey-lighter;
}

 [data-sr] {
        visibility: hidden;
      }