/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
$presentation-font: "Playfair Display", "serif";
$base-font: "Source Sans Pro", "sans-serif";
$projet-font: "Inconsolata";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 15px;
$base-height: 1.4;

// Logo
$logo-size: 26px;
$logo-letter-spacing: 8px;

//mono-title
$spacing-mono-title: 3px;
$size-mono-title: 14px;
$height-mono-title: 14px;

//arrow
$spacing-arrow-right: 3px;
$size-arrow-right: 30px;
$height-arrow-right: 14px;

//presentation
$spacing-presentation: 0px;
$size-presentation: 48px;
$height-presentation: 57px;

//collaboration
$spacing-collaboration: 0px;
$size-collaboration: 35px;
$height-collaboration: 42px;

//social
$spacing-social: 3px;
$size-social: 14px;
$height-social: 14px;

//normal-title
$spacing-normal-title: 0px;
$size-normal-title: 35px;
$height-normal-title: 42px;

//big-title
$spacing-big-title: 0px;
$size-big-title: 48px;
$height-big-title: 57px;

//projet
$size-projet-title: 30px;
$height-projet-title: 39px;
$spacing-projet-title: 0px;

//thin-title
$size-thin-title: 12px;
$height-thin-title: 12px;
$spacing-thin-title: 3px;

//other-title
$size-other-title: 13px;
$height-other-title: 13px;
$spacing-other-title: 2px;

// weight 
$bold: 700;
$normal: 400;
$light: 300;




/* -------------------------------------
 * Colors
 * ------------------------------------- */

$white: #fff;
$black: #141516;
$grey: #202122;
$grey-darker:#838B91;
$grey-lighter: #838B91;
$yellow: #FFDF01;
$red: #D74A53;
$blue: #097BEB;
$blue-lighter: #63BDD2;
$green: #42AC3D;
$purple: #9900D9;







